<ul class="">
  <li class="nav-item">
    <a class="nav-link" href="{{ path("homepage") }}">Sondage</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path("admin_parties") }}">Parties</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path("admin_rubriques") }}">Rubriques</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path("admin_propositions") }}">Propositions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path("admin_revenudebase") }}">Revenu de base</a>
  </li>
</ul>