{% extends 'base.html.twig' %}

{% block body %}
    <div id="row">
        <div class="col-md-12">
            <h1>Administrer les rubriques </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Partie </th>
                        <th>Label de la rubrique</th>
                    </tr>
                </thead>
                <tbody>   
                    {% for rubrique in rubriques %}
                        <tr>
                            <td> {{rubrique.partie.label}}</td>
                            <td> {{rubrique.label}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Ajouter une rubrique</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
